/* line 4, app/assets/stylesheets/shared/errors.scss */
div#error {
  width: 600px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  border: solid 4px #666666;
  background-color: #fafafa;
  text-align: center;
}

/* line 12, app/assets/stylesheets/shared/errors.scss */
div#error p.url {
  font-family: monospace;
}
@charset "UTF-8";
/*　グレー系 */
/* シアン系 */
/* 赤系 */
/* 緑系 */
@charset "UTF-8";
/*マージン、パディング*/
/*フォントサイズ*/
/*行の高さ*/
@charset "UTF-8";
/*　グレー系 */
/* シアン系 */
/* 赤系 */
/* 緑系 */
/*マージン、パディング*/
/*フォントサイズ*/
/*行の高さ*/
/* line 6, app/assets/stylesheets/staff/container.scss */
div#wrapper div#container h1 {
  margin: 0;
  padding: 9px 6px;
  font-size: 16px;
  font-weight: normal;
  background-color: #1a3333;
  color: #eeeeee;
}
@charset "UTF-8";
/*　グレー系 */
/* シアン系 */
/* 赤系 */
/* 緑系 */
/*マージン、パディング*/
/*フォントサイズ*/
/*行の高さ*/
/* line 5, app/assets/stylesheets/staff/flash.scss */
header span.notice, header span.alert {
  display: inline-block;
  padding: 2px 6px;
  margin: 0 10px;
  font-size: 8px;
  color: #fafafa;
}

/* line 13, app/assets/stylesheets/staff/flash.scss */
header span.notice {
  background-color: #00cc00;
}

/* line 17, app/assets/stylesheets/staff/flash.scss */
header span.alert {
  background-color: #cc0000;
}
@charset "UTF-8";
/*　グレー系 */
/* シアン系 */
/* 赤系 */
/* 緑系 */
/*マージン、パディング*/
/*フォントサイズ*/
/*行の高さ*/
/* line 4, app/assets/stylesheets/staff/layout.scss */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* line 9, app/assets/stylesheets/staff/layout.scss */
div#wrapper {
  position: relative;
  box-sizing: border-box;
  min-height: 100%;
  margin: 0 auto;
  padding-bottom: 48px;
  background-color: #cccccc;
}

/* line 17, app/assets/stylesheets/staff/layout.scss */
header {
  padding: 5px;
  background-color: #448888;
  color: #fafafa;
}

/* line 21, app/assets/stylesheets/staff/layout.scss */
header a.logo-mark {
  float: none;
  text-decoration: none;
  font-weight: bold;
}

/* line 26, app/assets/stylesheets/staff/layout.scss */
header a {
  float: right;
  color: #fafafa;
}

/* line 31, app/assets/stylesheets/staff/layout.scss */
footer {
  bottom: 0;
  position: absolute;
  width: 100%;
  background-color: #666666;
  color: #fafafa;
}

/* line 37, app/assets/stylesheets/staff/layout.scss */
footer P {
  text-align: center;
  padding: 6px;
  margin: 0;
}
@charset "UTF-8";
/*　グレー系 */
/* シアン系 */
/* 赤系 */
/* 緑系 */
/*マージン、パディング*/
/*フォントサイズ*/
/*行の高さ*/
/* line 6, app/assets/stylesheets/staff/sessions.scss */
div#wrapper div#container div#login-form {
  width: 400px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  border: solid 4px #448888;
  background-color: #fafafa;
}

/* line 14, app/assets/stylesheets/staff/sessions.scss */
div#wrapper div#container div#login-form h1 {
  background-color: transparent;
  color: #1a3333;
  font-size: 20px;
  font-weight: bold;
}

/* line 22, app/assets/stylesheets/staff/sessions.scss */
div#wrapper div#container div#login-form form div {
  padding: 10px;
}

/* line 24, app/assets/stylesheets/staff/sessions.scss */
div#wrapper div#container div#login-form form div label {
  display: block;
  padding: 6px 0;
}

/* line 28, app/assets/stylesheets/staff/sessions.scss */
div#wrapper div#container div#login-form form div input[type='text'], div#wrapper div#container div#login-form form div input[type='password'] {
  padding: 10px;
  width: 360px;
}

/* line 32, app/assets/stylesheets/staff/sessions.scss */
div#wrapper div#container div#login-form form div input[type='submit'] {
  padding: 10px 20px;
}
/*


 */
